@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

.logotext {
    font-family: 'Rokkitt', serif;
    font-size: 3.5rem;
    font-weight: 600;
    color: #edf4f2;
    margin-left: 50px;
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #31473a;
    position: relative;
}

.menuIcon {
    display: none;
    font-size: 2rem;
    color: #fef9f8;
    cursor: pointer;
    margin-right: 20px;
}

.ulist {
    list-style: none;
    margin: 20px 50px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list {
    line-height: 2.2;
    margin-left: 35px;
}

.atag {
    text-decoration: none;
    color: #fef9f8;
    display: flex;
    align-items: center;
}

.atag:hover {
    color: #FAE588;
}

.register_icon {
    margin-left: 5px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .logotext {
        font-size: 2rem;
        margin-left: 20px;
    }

    .menuIcon {
        display: block;
    }

    .ulist {
        flex-direction: column;
        align-items: flex-start;
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #31473a;
        padding: 10px 20px;
        display: none;
    }

    .menuOpen {
        display: flex;
    }

    .list {
        margin: 10px 0;
    }
}