@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

.smallBanner {
    width: 100%;
    height: 30px;
    background-color: #B7E4C7;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: 'Inconsolata', monospace;
}

.ptag {
    white-space: nowrap;
    animation: move-rtl 18s linear infinite;
}

@keyframes move-rtl {
    0% {
        transform: translateX(220%);
    }

    100% {
        transform: translateX(-220%);
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .smallBanner {
        height: 25px;
        /* Slightly smaller height on smaller screens */
    }

    .ptag {
        font-size: 0.9em;
        /* Slightly smaller font size on smaller screens */
        animation: move-rtl 15s linear infinite;
        /* Adjust animation speed */
    }
}

@media (max-width: 480px) {
    .smallBanner {
        height: 20px;
        /* Even smaller height on very small screens */
    }

    .ptag {
        font-size: 0.8em;
        /* Smaller font size on very small screens */
        animation: move-rtl 12s linear infinite;
        /* Further adjust animation speed */
    }
}