@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap');

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* padding: 20px; */
}

.profileBack {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.profileContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    max-width: 650px;
}

.profileImg {
    width: 150px;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    /* Half of profileImg height to center it */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    border: 5px solid white;
}

.userDataDiv {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    text-align: center;
}

.name {
    margin-bottom: 8px;
    color: #1B4332;
}

.bio {
    color: #2F7557;
}

.addressDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: gray;
}

.address {
    margin-left: 5px;
}

.logoutBtn {
    margin-top: 20px;
    width: 150px;
    height: 35px;
    background-color: #1B4332;
    color: aliceblue;
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Kalam', cursive;
}

.logoutBtn:hover {
    background-color: #2F7557;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .profileContent {
        flex-direction: column;
        align-items: center;
    }

    .profileImg {
        top: -60px;
        width: 120px;
    }

    .userDataDiv {
        margin-top: 60px;
    }

    .logoutBtn {
        width: 130px;
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .profileContainer {
        padding: 0px;
    }

    .profileBack {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }

    .profileImg {
        top: -50px;
        width: 100px;
    }

    .userDataDiv {
        margin-top: 50px;
        padding: 20px;
    }

    .name {
        font-size: 18px;
    }

    .bio {
        font-size: 16px;
    }

    .logoutBtn {
        width: 120px;
        font-size: 14px;
    }
}