@import url('https://fonts.googleapis.com/css2?family=Kalam&display=swap'); 

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0px 40px 0px;
}

.card {
    background-color: #74C69D;
    width: 400px;
    height: 300px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.btn{
    width: 360px;
    height: 45px;
    margin: 20px;
    font-size: 18px;
    border: 0px;
    border-radius: 8px;
    background-color: #1B4332;
    color: aliceblue;
    cursor: pointer;
    font-family: 'Rokkitt', serif;
}

.btn:hover{
    background-color: #1E2F23;
}