@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Rokkitt', serif;
}

/* *********************************************** */
/* Scroll Bar */
/* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #8ea3ca;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #31473a;
  border-radius: 5px;
}

/* *********************************************** */